nav ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li
{
    display:inline;
}

.spaceToNavbar{
    margin-top: 55px;
}

.errorBorder {
    border: 1px solid #ff0000;
}

.validBorder {
    border: 1px solid #00ff00;
}
